.user-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-card{
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s ease;
}

.user-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    cursor: pointer;
}

.card-header{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.card-header h2{
    margin: 0;
    color: #333;
}

.card-body {
    font-size: 1rem;
    color: #555;
    margin: 6px 0;
}